/*
  navbar.css
  Üst navigasyon menüsü ve bağlantı stilleri için ana stil dosyası.
  Son güncelleme: 21 Haziran 2025
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(240, 142, 142);
    color: white;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.logo a {
    text-decoration: none;
    color: white
}

.linkler {
    display: flex;
}

.navbar a {
    font-size: large;
    font-weight: bolder; 
    padding: 8px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: white;
    color: brown;
}